default: &default
  host: localhost
  user: postgres
  password: ''
  adapter: postgres
  skip_dumping_schema_sql: true

development:
  <<: *default
  db: detransport_lviv_development

test:
  <<: *default
  db: detransport_lviv_test

production:
  <<: *default
  db: detransport_lviv_production
